{% extends 'base.html' %}

{% block content %}
    <div class='row'>
    <div class='col-sm-8 offset-2'>
    <h4  class=' alert alert-info'>Update students information</h4>
    <form action = '' method='POST'>
    {% csrf_token %}
    {{form.as_p}}
    <input type='submit' class='btn btn-sucess' value='Update'>
    <a  href='{% url "addAndShow" %}' class= 'btn btn-sucess' >Back to home</a>               
    </form>
    <div>
    </div>
{% endblock  %}

{%comment%}% url needs to be the name saved in  the name tag in urls.py%}{%endcomment%}